/* CSS Document */
body {
	width: 85%;
	margin: 1em auto 0;
	font: 90%/1.5 Georgia, "Times New Roman", T, serif;
}
h1 {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 2.8em;
	font-weight: bold;
	color: #0D1F59;
}
button {
    text-transform: uppercase;
}
.blue-eyes .eye-color {
	fill: #175282;	
}


.sad .mouth {
	transform: rotate(180deg) scale(.8);
	transform-origin: 340px 390px;
}

@keyframes moveEyes {
	20% {
		transform: translate(-18px, -20px);
	}
	40% {
		transform: translate(0, 0);
	}
	65% {
		transform: translate(18px, -20px);
	}
}
.inner-eye-group {
	transition: all 1s linear;
}
.move-around .inner-eye-group {
	animation: moveEyes 2s infinite;
}